<% title "Activities" %>

<table>
  <tr>
    <th>User</th>
    <th>Activity Type</th>
    <th>Points</th>
    <th>Friend Points</th>
    <th>Photo Points</th>
    <th>Place Points</th>
    <th>Bonus Points</th>
    <th>Quest</th>
  </tr>
  <% for activity in @activities %>
    <tr>
      <td><%=h activity.user_id %></td>
      <td><%=h activity.activity_type %></td>
      <td><%=h activity.points %></td>
      <td><%=h activity.friend_points %></td>
      <td><%=h activity.photo_points %></td>
      <td><%=h activity.place_points %></td>
      <td><%=h activity.bonus_points %></td>
      <td><%=h activity.quest_id %></td>
      <td><%= link_to "Show", activity %></td>
      <td><%= link_to "Edit", edit_activity_path(activity) %></td>
      <td><%= link_to "Destroy", activity, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Activity", new_activity_path %></p>
